/* Reset styles */
html, body, div, h1, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Search bar styles */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.search-bar {
  width: 70%;
  max-width: 500px;
  border: none;
  border-bottom: 2px solid #333;
  padding: 0.5em;
  font-size: 1.2em;
  margin-right: 0.5em;
}

.search-button {
  border: none;
  padding: 0.5em 1em;
  font-size: 1.2em;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px; /* add border radius to make it rounded */
  transition: background-color 0.3s ease; /* add transition to background color on hover */
}

.search-button:hover {
  background-color: #555; /* change background color on hover */
}

/* Center the search form horizontally */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

/* Style the search bar */
input[type="text"] {
  padding: 0.5em;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1em;
  flex-grow: 1;
}

/* Style the search button */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0.5em;
  font-size: 1em;
  cursor: pointer;
}


/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
}

/* News article styles */
.article-container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1em;
  overflow-y: scroll;
  height: 500px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 1px 3px rgba()
}